<div class="component">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <button class="btn btn-success" ng-click="vm.isSignedIn?vm.signOut():vm.signIn();" ng-bind="vm.isSignedIn?'Sign Out':'Sign In'"></button>
                </form>
                <form class="navbar-form navbar-left" role="search" method="get" target="_blank" action="https://www.google.com/search?">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control typeahead gsfi" placeholder="Search for..." size="40" x-webkit-speech>
                    </div>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>
                {{vm.currentDate|date:'EEEE, d MMMM'}} 
                <span class="text-danger">{{vm.currentDate|date:'h:mm a'}}</span>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <weather-component></weather-component>
                <news-component></news-component>
            </div>
            <div class="col-md-4">
                <calendar-component></calendar-component>
            </div>
            <div class="col-md-4">
                <gmail-component></gmail-component>
            </div>
        </div>
    </div>
</div>